<!-- <mat-toolbar *ngIf="isAuthenticated$ | async"  class="sidenav-container"> -->
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"> -->
    <!-- <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="todo">TODO List</a>
      <a mat-list-item routerLink="about">About</a>
      <a mat-list-item *ngIf="userPrivilege$ | async" routerLink="panel">Panel</a>
      
    </mat-nav-list> -->
  <!-- </mat-sidenav> -->
  <!-- <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TODOApp</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
  <!-- <router-outlet></router-outlet>
</mat-toolbar> -->

<mat-toolbar *ngIf="isAuthenticated$ | async" color="primary">
  <span>
    TODO App
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="todo">TODO</button>
  <button mat-button routerLink="about">About</button>
  <button mat-button *ngIf="userPrivilege$ | async" routerLink="panel">Admin Panel</button>
  <button mat-button (click)="onLogout()">Log out</button>
  
  
</mat-toolbar>