<h1>List of tasks</h1>

<!-- <form [formGroup]="toDoForm" (ngSubmit)="addTask()" fxLayout="column">
    <div fxFlex="40">
    <mat-form-field>
                
        <input matInput placeholder="Enter a new task title" type="text" 
            name="title-name" formControlName="itemTitle"
            required >

    </mat-form-field>
    </div>
    <div fxFlex="40">
    <mat-form-field>
                
        <input matInput placeholder="Enter description" type="text" 
            name="content-name" formControlName="itemContent"
            required >

    </mat-form-field>
</div>
<div fxFlex="20">
    <button mat-raised-button type="submit">Add</button>
</div>
</form> -->

<button mat-button (click)="openDialog()">Open dialog</button>

<div fxLayout="row" fxLayoutAlign="center">
<div class="form-box" fxFlex="50" fxLayoutAlign="center" style="margin-left:40px; margin-top:40px;" fxLayout="column">
    <h1>TODO Tasks</h1>
    <mat-selection-list >
        <mat-list-option *ngFor="let task of tasks" fxLayout="row">
          {{task.title }}
          {{task.content}}
        </mat-list-option>
      </mat-selection-list>
</div>
<div class="form-box" fxFlex fxLayoutAlign="center" style="margin-right:40px; margin-top: 40px;">
    <h1>Completed Tasks</h1>
</div>
</div>